


:root{
    --container-bg-color: #FFF;
    --text-primary-color: #373737;
    --secondary-color: #FF0000;
    --text-white-color: #FFF;
    color:black;

}

:root[theme='dark'] {
    --container-bg-color:#373737;
    /*--text-primary-color: #ced6e0;*/
    color: #FFFFFF;


}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background-color: var(--container-bg-color);
}




main {


    margin: 0 0 0 0;
    height: 789px;


    background: url(../img/r1.png) center no-repeat;
    -webkit-background-size: cover;



}

header {
    width: 100%;
    height: 78px;
    padding-top: 30px;
   

}
.header_iner {


    justify-content: space-between;
    align-items: center;
}

.nav {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: space-between;


}
.nav_link {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;


    vertical-align: top;
    margin: 0 20px;


    color: #F00;
    text-decoration: none;




}


.container {

    max-width: 1200px;
    margin: 0 auto;


}





.title {
    /*color: #373737;*/
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;

}

.subtext {

    width: 1145px;

    flex-shrink: 0;


}

.text {

 
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 38px 0 ;
}

.desk {



    
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.subtext-inner{

    width: 1145px;
    height: 216px;
    flex-shrink: 0;
}

.button {

    width: 191px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F00;
    margin: 66px 500px;

}

.text-button {

    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 100% */
    letter-spacing: 1.8px;
    text-transform: uppercase;

    padding: 18px 42px;
}

.link-button {

    text-decoration: none;
    color: #FFF;
}

footer {

    width: 100%;
    margin: 0 auto;



}

.footer-inner {


    display: flex;
    width: 500px;
    height: 39px;

    justify-content: center;
    box-sizing: border-box;
    margin: 0 657px 0;


}


.footer-text {

    /*color: black;*/
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;

}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;


}
.btn {
    color:#FF0000;
    background: #FFFFFF;
    padding: 7px;
    margin: 10px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}











